<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Optimal Insurance Coding</title>
  </head>
  <body>
	  <div class="container-fluid p-4 col-10">
		  <div class="jumbotron text-center">
			  <h1 class="display-4">Health Care Coding System</h1>
			  <p class="lead">This is a system designed to simplify the health care coding system. Please login to continue.</p>
			</div>
		  
  		  <div class="row justify-content-center">
    		<div class="col-6">
				<h4>Login</h4>
				<% if(messages.error) {%>
					<%=messages.error %>
				<% } %>
				<form action="/login" method="post">
				<div class="form-group row">
				  <label for="inputState" class="col-sm-2 col-form-label">Provider</label>
					<div class="col-sm-10">
				  <select id="inputState" class="form-control">
					<option selected>Choose...</option>
					<option>Medical Provider</option>
					<option>Insurance Provider</option>
				  </select>
				</div>
				</div>
			  <div class="form-group row">
				<label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
				<div class="col-sm-10">
				  <input type="email" class="form-control" id="inputUsername" name = "email">
				</div>
			  </div>
			  <div class="form-group row">
				<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-10">
				  <input type="password" class="form-control" id="inputPassword" name="password">
				</div>
			  </div>
			  <div class="form-group row">
				<div class="col-sm-10">
				  <button type="submit" value="Submit" class="btn btn-primary">Sign in</button>
				</div>
			  </div>
			</form>
    		</div>
		  </div>
	  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>